@font-face {
  font-family: montserrat;
  src: url('montserrat/montserrat-light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('montserrat/montserrat-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('montserrat/montserrat-semiBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: podkova;
  src: url('podkova/podkova-medium.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('podkova/podkova-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('podkova/podkova-extraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
