.nav-list {
  @apply bg-mr-light-medium;
  @apply border-r border-solid border-gray-300;
  @apply text-sm;
  @apply sans-light;
}
.nav-list header {
  @apply p-4 pb-0;
  @apply border-b border-solid border-gray-300;
  @apply relative;
  @apply z-10;
  box-shadow: -15px 20px 10px #f5faff;
}
.nav-list h1 {
  @apply mb-4;
  @apply text-lg;
  line-height: 1.1;
}
.nav-list h1:before {
  @apply block;
  @apply float-left;
  @apply bg-no-repeat;
  @apply relative;
  background-image: url('https://cdn.metarouter.io/web/img/mr_icon_light.png');
  background-size: contain;
  content: '';
  height: 35px;
  margin-right: 7px;
  top: 2px;
  width: 41px;
}
.nav-list h2 {
  @apply sans-bold;
  @apply mt-4;
  @apply mx-4;
  @apply relative;
  @apply cursor-pointer;
  @apply text-gray-700;
}
.nav-list h2:after {
  @apply text-base;
  @apply float-right;
  @apply inline-block;
  @apply text-gray-500;
  content: '⌄';
  margin-top: 0.1rem;
  transform: rotate(180deg);
}
.nav-list h2.collapsed:after {
  @apply text-base;
  @apply float-right;
  @apply inline-block;
  content: '⌄';
  margin-top: -0.35rem;
  transform: rotate(0);
}

.nav-list li {
  @apply list-none;
}
.nav-list li a {
  @apply block;
  @apply px-4;
  @apply text-gray-600;
  @apply border border-solid border-transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85%;
}
.nav-list li a:hover {
  @apply text-black;
}
.nav-list li a.selected-item {
  @apply relative;
  @apply rounded-tr-lg rounded-br-lg;
  @apply text-black;
  border: solid 1px #64a7dd70;
  background-color: #64a7dd50;
}
/*.nav-list a.selected-item:before {
  @apply absolute left-0 top-0;
  @apply bg-mr-purple;
  @apply h-full;
  width: 8px;
  content: '';
} */

#search-input,
#search-input:focus {
  @apply bg-white;
  @apply border-gray-400 border border-solid rounded;
  @apply mb-6;
  @apply p-1;
  @apply text-xs;
  @apply w-full;
  @apply outline-none;
}

.scrollbox {
  @apply relative;
  @apply overflow-y-scroll;
  @apply pt-6;
  @apply pb-32;
  height: 86vh;
}

.scrollbox::-webkit-scrollbar {
  width: 0.4em;
}
.scrollbox::-webkit-scrollbar,
.scrollbox::-webkit-scrollbar-thumb {
  @apply visible;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
