.home-page main section {
  max-width: 78rem;
}

.cards {
  @apply flex flex-wrap flex-row justify-between;
  @apply mb-12;
  height: 660px;
  margin-left: 1%;
  margin-right: 1%;
}
/* default 1/2 width cards */
.cards li {
  @apply list-none;
  @apply relative;
  @apply m-0;
  width: 48.5%;
}
.cards a {
  @apply transition duration-150;
  @apply bg-mr-light-medium;
  @apply block;
  @apply border border-gray-400 border-solid rounded-md;
  @apply p-4;
  @apply text-gray-800;
  @apply shadow-sm;
  @apply overflow-hidden;
  @apply bg-contain bg-no-repeat;
  background-image: url(https://cdn.metarouter.io/web/img/docs/card-bg-grayscale.png);
  background-position: 150% 150%;
  height: 200px;
}
.cards .enterprise-edition a {
  background-image: url(https://cdn.metarouter.io/web/img/docs/card-bg-enterprise-dark.png);
}
.cards .cloud-edition a {
  background-image: url(https://cdn.metarouter.io/web/img/docs/card-bg-cloud-dark.png);
}

.cards a:hover {
  @apply shadow-md;
}
.cards h1 {
  @apply text-lg;
  @apply mb-4 pb-0 border-0 !important; /* overrides for rules from content.css */
}
.cards p {
  @apply text-sm;
}

/* 1/3 width cards */
@media (min-width: 1600px) {
  .cards {
    @apply flex-col;
    height: 430px;
    margin-left: -1%;
    margin-right: -1%;
  }

  .cards li {
    left: 1.75%;
    width: 30%;
  }
}

.home-page footer {
  @apply mx-auto;
}
