.cards {
  @apply flex flex-wrap flex-col justify-between;
  @apply mb-12;
  height: 430px;
  margin-left: -1%;
  margin-right: -1%;
}
.cards li {
  @apply list-none;
  @apply relative;
  @apply m-0;
  left: 1.75%;
  width: 30%;
}
.cards a {
  @apply transition duration-150;
  @apply bg-mr-light-medium;
  @apply block;
  @apply border border-gray-400 border-solid rounded-md;
  @apply p-4;
  @apply text-gray-800;
  @apply shadow-sm;
  @apply overflow-hidden;
  @apply bg-contain bg-no-repeat;
  @apply top-0 left-0;
  @apply opacity-50;
  background-image: url(/card-bg-grayscale.png);
  background-position: 150% 150%;
}
.cards .enterprise-edition a:after {
  background-image: url(/card-bg-enterprise-dark.png);
}
.cards .cloud-edition a:after {
  background-image: url(/card-bg-cloud-dark.png);
}

.cards a:hover {
  @apply shadow-md;
}
.cards h1 {
  @apply text-lg;
  @apply mb-4 pb-0 border-0 !important; /* overrides for rules from content.css */
}
.cards p {
  @apply text-sm;
}
