/* purgecss should ignore everything but tailwind utilities */

/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import './fonts.css';
@import './content-nav.css';
@import './table.css';
@import './content.css';
@import './code.css';
@import './home-page.css';

html {
  @apply h-full;
}
body {
  overflow-y: scroll;
}
body,
input,
select,
textarea {
  @apply font-sans;
  @apply text-gray-800;
}

h1,
h2,
h3,
h4 {
  @apply serif-bold;
}

p {
  @apply mb-6;
}
b,
strong {
  @apply font-bold;
}
em {
  @apply italic;
}

ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

.nav-list h1 {
  @apply text-center;
  @apply text-2xl;
}

.scrollbox,
#search-input {
  @apply hidden;
}
.nav-dropdown select {
  @apply border-gray-400 border border-solid rounded;
  @apply bg-gray-200;
  @apply w-1/2;
  @apply text-sm;
  @apply relative;
  top: -2.7rem;
}

main {
  @apply p-8;
}

.section-border {
  @apply border-gray-400 border-b border-solid;
  @apply mt-16 -mx-8 mb-8;
}
.section-border:last-of-type {
  @apply border-0;
}

.header-links {
  @apply mb-3 mt-2;
  @apply sans-light;
  @apply text-sm;
  @apply float-right;
}
.header-links li {
  @apply p-2 pr-0;
  @apply inline-block;
}

footer {
  @apply text-center text-xs;
}
footer p:first-child {
  @apply pt-4;
  @apply border-t border-solid border-gray-400;
}
#disclaimer {
  @apply text-justify;
}

/* responsive styles */
@media (min-width: 640px) {
  .nav-dropdown {
    @apply hidden;
  }
  .nav-list {
    @apply fixed;
    @apply h-full;
    @apply left-0;
    @apply top-0;
    width: 16rem;
  }
  .nav-list header {
    @apply relative;
    @apply z-10;
    box-shadow: -15px 20px 10px #f5faff;
  }
  .nav-list h1 {
    @apply text-left text-base;
  }
  .nav-list h1:before {
    @apply block;
    @apply float-left;
    @apply bg-no-repeat;
    @apply relative;
    background-image: url('https://cdn.metarouter.io/web/img/docs/logo-light.png');
    background-size: contain;
    content: '';
    height: 35px;
    margin-right: 7px;
    top: 2px;
    width: 41px;
  }

  .scrollbox,
  #search-input {
    @apply block;
  }

  .header-links {
    @apply mr-8;
  }

  main {
    @apply p-0;
    margin-left: 16rem;
  }

  /* section containers for each markdown file */
  main section,
  footer {
    @apply relative;
    @apply mx-auto;
    @apply py-24 px-32;
    min-width: 45rem;
    max-width: 58rem;
  }

  .section-border {
    @apply m-0;
  }

  footer {
    @apply px-32 pt-24 pb-12;
  }
}

@media (min-width: 1280px) {
  main {
    transform: translateX(-8rem);
  }
  main nav,
  .section-border {
    transform: translateX(8rem);
  }

  .home-page main,
  .home-page main nav {
    transform: translateX(0);
  }

  /* sticky TOC in right column for wide screens */
  main .toc {
    @apply absolute;
    @apply bg-transparent;
    @apply -mt-10;
    top: 8rem;
    right: -12rem;
    height: calc(100% - 12rem);
    width: 16rem;
  }

  main .toc .toc-sticky {
    @apply sticky;
    top: 4rem;
  }

  main .toc a {
    @apply block;
  }
  main .toc a:hover {
    @apply bg-mr-light-medium;
  }
}

/* purgecss end ignore */
