@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts.css';
@import './content-nav.css';
@import './table.css';
@import './content.css';
@import './code.css';
@import './home-page.css';

html {
  height: 100%;
}

body,
input,
select,
textarea {
  @apply font-sans;
  @apply text-gray-800;
}

h1,
h2,
h3,
h4 {
  @apply serif-bold;
}

p {
  @apply mb-6;
}
b,
strong {
  @apply font-bold;
}
em {
  @apply italic;
}

ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

.nav-list {
  @apply fixed;
  @apply h-full;
  @apply left-0;
  @apply top-0;
  width: 14rem;
}
main {
  margin-left: 14rem;
}

/* section containers for each markdown file */
main section {
  @apply py-24 px-32;
  @apply border-b border-gray-400 border-solid;
  @apply relative;
  min-width: 800px;
}
main section:first-of-type {
  margin-top: -6px; /* align first section with first nav item */
}
main section:last-of-type {
  @apply border-none;
}

.header-links {
  @apply mb-3 mt-2;
  @apply sans-light;
  @apply text-sm;
  @apply float-right;
  @apply mr-4;
}
.header-links li {
  @apply p-2;
  @apply inline-block;
}

footer {
  @apply text-center text-xs;
  @apply px-24 pt-24 pb-12;
}
#disclaimer {
  @apply max-w-2xl;
  @apply text-justify;
  @apply mx-auto;
}

/* responsive styles */
@media (min-width: 1280px) {
  main {
    margin-left: 18rem;
  }

  main section {
    padding-right: 24rem;
  }

  .nav-list {
    width: 18rem;
  }

  /* sticky TOC in right column for wide screens */
  main .toc {
    @apply w-56;
    @apply absolute;
    @apply bg-transparent;
    @apply -mt-10;
    top: 8rem;
    right: 4rem;
    height: calc(100% - 12rem);
  }

  main .toc .toc-sticky {
    @apply sticky;
    top: 4rem;
  }

  main .toc li:hover {
    @apply bg-mr-light-medium;
  }
}

@media (min-width: 1600px) {
  main {
    margin-left: 24rem;
  }

  main section {
    padding-right: 30rem;
  }

  .nav-list {
    width: 20rem;
  }

  main .toc {
    right: 8rem;
  }
}
