table {
  @apply mt-4 mb-8;
  @apply w-full;
  table-layout: fixed;
}
td,
th {
  @apply py-1 pr-2 pl-2;
}
td {
  @apply border-t border-b border-solid border-gray-400;
  background-color: #fbfbfb;
}
tr:nth-child(even) td {
  @apply bg-white;
}
