.nav-list {
  @apply bg-gray-200;
  @apply p-4;
  @apply border-r border-solid;
  @apply fixed;
  @apply h-full;
  @apply left-0;
  @apply top-0;
  @apply text-sm;
  @apply sans-light;
}
.nav-list h1 {
  @apply mb-4;
  @apply text-base;
  line-height: 1.1;
}
.nav-list h1:before {
  @apply block;
  @apply float-left;
  @apply bg-no-repeat;
  background-image: url('https://cdn.metarouter.io/web/img/mr_icon_light.png');
  background-size: contain;
  content: '';
  height: 31px;
  margin-right: 10px;
  width: 35px;
}
.nav-list h2 {
  @apply sans-bold;
  @apply mt-4;
  @apply relative;
  @apply cursor-pointer;
}
.nav-list h2:after {
  @apply text-base;
  @apply float-right;
  @apply inline-block;
  @apply text-gray-500;
  content: '⌄';
  margin-top: 0.1rem;
  transform: rotate(180deg);
}
.nav-list h2.collapsed:after {
  @apply text-base;
  @apply float-right;
  @apply inline-block;
  content: '⌄';
  margin-top: -0.35rem;
  transform: rotate(0);
}
.nav-list a {
  @apply block;
  @apply mb-1;
}
.nav-list a.selected-item {
  @apply bg-gray-100;
}
.nav-list li {
  @apply list-none;
}

#search-input,
#search-input:focus {
  @apply bg-white;
  @apply border-gray-400 border border-solid rounded;
  @apply mb-6;
  @apply p-1;
  @apply text-xs;
  @apply w-full;
  @apply outline-none;
}
