@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-semiBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: podkova;
  src: url('../fonts/podkova/podkova-medium.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('../fonts/podkova/podkova-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('../fonts/podkova/podkova-extraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.sans-light {
  @apply font-sans;
  @apply font-hairline;
}
.sans-regular {
  @apply font-sans;
  @apply font-medium;
}
.sans-bold {
  @apply font-sans;
  @apply font-black;
}

.serif-light {
  @apply font-serif;
  @apply font-hairline;
}
.serif-regular {
  @apply font-serif;
  @apply font-medium;
}
.serif-bold {
  @apply font-serif;
  @apply font-black;
}

body,
input,
select,
textarea {
  @apply font-sans;
  @apply text-gray-800;
}

h1,
h2,
h3 {
  @apply serif-bold;
}

/* headings preceded by content */
p + h1,
ul + h1,
table + h1 {
  @apply mt-12;
}

/* sub headings preceded by headings */
h1 + h2,
h2 + h3 {
  @apply mt-4;
}

/* sub headings preceded by content */
p + h2,
ul + h2,
table + h2,
p + h3,
ul + h3,
table + h3 {
  @apply mt-8;
}

p {
  @apply mb-6;
}

code {
  @apply px-1;
  @apply inline-block;
}
code,
pre {
  @apply bg-mr-light-medium;
}
pre code {
  @apply p-0;
}
pre code,
td code,
h1 code,
h2 code,
h3 code,
h4 code {
  @apply bg-transparent;
}
pre {
  @apply p-3;
  @apply mb-6;
  @apply max-w-full;
  @apply overflow-x-auto;
  @apply border-gray-200 border-solid border;
  @apply relative;
}

.nav-list {
  @apply p-4;
  @apply border-r border-solid;
  @apply fixed;
  @apply h-full;
  @apply left-0;
  @apply top-0;
  @apply text-sm;
  @apply sans-light;
  width: 16rem;
}
.nav-list h1 {
  @apply mb-4;
  @apply text-base;
  line-height: 1.1;
}
.nav-list h1:before {
  @apply block;
  @apply float-left;
  @apply bg-no-repeat;
  background-image: url(../images/logo-light-sm.png);
  background-size: contain;
  content: '';
  height: 31px;
  margin-right: 10px;
  width: 35px;
}
.nav-list h2 {
  @apply sans-bold;
  @apply mt-2;
  @apply relative;
  @apply cursor-pointer;
}
.nav-list h2:after {
  @apply text-base;
  @apply float-right;
  content: '⌄';
  margin-top: -0.35rem;
}
.nav-list a {
  @apply block;
}
.nav-list a.selected-item {
  @apply bg-gray-100;
}
.nav-list li li li a {
  @apply pl-1;
}

#search-input,
#search-input:focus {
  @apply bg-gray-200;
  @apply border-gray-400 border border-solid rounded;
  @apply mb-2;
  @apply p-1;
  @apply text-xs;
  @apply w-full;
  @apply outline-none;
}

main {
  margin-left: 16rem;
}
main h1,
main h2,
main h3 {
  line-height: 1.1;
  @apply mb-4;
}
main h1 {
  @apply text-3xl;
}
main h2 {
  @apply text-2xl;
}
main h3 {
  @apply text-xl;
}
main a {
  @apply text-cloud-blue-medium;
}

main > nav {
  @apply mb-6 mt-2;
  @apply sans-light;
  @apply text-sm;
}
.header-links {
  @apply float-right;
  @apply mr-4;
}
.header-links li {
  @apply p-2;
  @apply inline-block;
}

footer {
  @apply text-center text-xs;
  @apply px-3 pt-24 pb-12;
}

#md-content {
  @apply mt-10;
}

main section {
  @apply mb-2;
  @apply py-6 px-12;
  @apply border-b border-gray-400 border-solid;
}
main section section {
  @apply -mx-12; /* keep subsections and parents at same level of indentation */
}
main section:last-of-type {
  @apply border-none;
}
main section ul {
  @apply mb-4 ml-6;
}
main section li {
  @apply ml-4 mb-1;
  @apply list-disc;
}
main section img {
  @apply max-w-screen-lg;
  @apply mx-auto;
  @apply .w-4/5;
}

table {
  @apply mt-4 mx-6 mb-8;
}
td,
th {
  @apply py-1 pr-2 pl-2;
}
td {
  @apply border-t border-b border-solid border-blue-200;
}
